@import "./src/assets/styles/variables";
@import "./src/assets/styles/mixins";

.popup {
  padding: 68px 128px 68px;
  position: relative;

  .close-popup {
    position: absolute;
    top: 6px;
    right: 6px;
    cursor: pointer;
  }

  .popup-title {
    @include lora-38;
    margin-bottom: 20px;
    text-align: center;
  }

  .popup-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }

  .popup-action {
    margin-top: 40px;
    text-align: center;
  }

  .popup-content {
    text-align: center;

    .popup-select {
      box-sizing: border-box;
      border: 2px solid $light-blue-color;
      padding-inline: 20px;
      width: 100%;
      height: 53px;
      margin-bottom: 5px;
      border-radius: 2px;
      color: $light-blue-color;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      outline: none;
      cursor: pointer;
    }

    .popup-input {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      .input {
        outline: none;
        border: 2px solid $light-blue-color;
        border-radius: 3px;
        padding: 20px;
        height: 53px;
        box-sizing: border-box;
        width: 422px;
        color: $light-blue-color;

        &::placeholder {
          color: $placeholder-color;
        }
      }
    }

    .popup-action {
      margin-top: 20px;

      .btn {
        height: 53px;
        width: 100%;
      }
    }
  }
}
