<div class="product">
  <div class="product-image">
    <img src="./assets/images/page/products/{{product.image}}" alt="{{product.title}}">
  </div>
  <h2 class="product-title">{{product.title}}</h2>
  <p class="product-text">{{product.text}}</p>
  <div class="product-action">
    <div class="product-price">От {{product.price}}₽</div>
    <div class="product-action-btn">
      <button class="btn" [routerLink]="'/'" [queryParams]="{url: product.url}" (click)="request()">Подробнее</button>
    </div>
  </div>
</div>
